.content-historia,
.content-classico,
.content-personagem,
.content-lancamento,
.content-rede
.content-menu{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(85, 131, 171);
    box-sizing: border-box;
}

.content-historia{
    background-color: #1E90FF;
}

.content-classico{
    background-color: blue;
}

.content-lancamento{
    background-color: #F5C542;
}
.content-rede{
    background-color: #0513e3;
}
.content-personagem{
    background-color: #A7C7E7;
}
.content-menu {
    display: flex;
    justify-content: center; 
    align-items: center;      
    width: 100%;             
    height: 100vh;           
   
}

.content-menu img {
    max-width: 100%;  
    height: auto;
}

