.content-historia,
.content-classico,
.content-personagem,
.content-lancamento,
.content-rede
.content-menu{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(85, 131, 171);
    box-sizing: border-box;
}





.content-classico{
    flex-direction: column;
    background-color: #4578b3;
}            


.titulo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px; 
    color: #0936db;
}

.content-lancamento{
    background-color:  #4e90dc;;
}
.content-rede{
    background-color:  #266ab7;
}
.content-personagem{
    background-color:  #3d6797;
}

