.content-personagem {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 40px;
  padding: 40px;
  background-color: #3d6797;
  justify-items: center; 
}

.content-princesas{
    width: 30px;
}